body{
    background: white;
}

.heading-text {
    padding: 30px;
}

.heading-image > img {
    padding: 10px;
    border-radius: 50%;}

div > .card-body > h5{
    color:rgb(85, 129, 187);
}

div.card.h-100{
    border: 0px;
}