<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 heading-text">
            <p class="h1 font-weight-bold">This First Heading
                <span class="text-secondary">Will Catch Your Eye</span>
            </p>
            <p class="text-left">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates blanditiis, ipsum
                fugit labore
                exercitationem repellat, dolorem quisquam assumenda inventore at ducimus pariatur iste officia ipsa
                similique saepe dicta, animi obcaecati.</p>
        </div>
        <div class="col-12 col-md-4 heading-image">
            <img src="http://lorempixel.com/300/300/" alt="...">
        </div>
    </div>
</div>