<!-- your html code here -->
<div class="container bg-light text-dark">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-4">
            <img src="http://lorempixel.com/300/300" class="rounded-circle" alt="...">
        </div>
        <div class="col-12 col-sm-8 col-md-8 mt-5">
            <div>
                <h3><strong>The Second Heading &nbsp;</strong></h3>
                <div class="title">
                    <h3><strong>Is Pretty Cool Too.</strong></h3>
                </div>
            </div>
            <p>
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                ligula porta felis euismod semper. Praesent commodo cursus manga, vel 
                selerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>

    </div>
</div>